<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        <title>Meditation Ascension</title>
        <link rel="stylesheet" type="text/css" href="{% static 'meditationascensionapp/style.css' %}">
        <script src="{% static 'meditationascensionapp/script.js' %}"></script>
    </head>

    <header>
        <nav class="main_nav">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
                <!--<li><a href="{% url 'blog' %}">Blog</a></li>-->
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <body>
        {% block content %}
        {% endblock %}
    </body>

    <footer>
        &copy; copyright 2020. All Rights Reserved.
    </footer>

</html>