{% extends 'meditationascensionapp/base.html' %}
{% load static %}
{% block content %}
<div id="events">
    <h2 class="h2-underline">Events & Therapies</h2>
    <img class="underline" src="{% static 'meditationascensionapp/photos/line.png' %}">
    <div class="subsection">
        <div>
            <p>Let there be lots of meditation for you people</p>
            <p>Join me via zoom here</p>
            paypal link here
        </div>
        <div>
            <img src="{% static 'meditationascensionapp/photos/yoga.png' %}">
        </div>
        <div>
            
        </div>
    </div>
</div>

{% endblock %}