{% extends 'meditationascensionapp/base.html' %}
{% load static %}

<!-- url({% static 'meditationascensionapp/photos/bench.jpeg'%}) -->

{% block above_header %}
    <div id="top-bar">
        <img src="{% static 'meditationascensionapp/photos/parrots.png' %}">
        <div id="acredit">
            <p>I'm certified and accredited by Ascents and a member of the British School of meditation register,
            your mindfulness and meditation coach</p>
        </div>
        <div id="socials">
            <a href="/facebook_link"><i class="fab fa-facebook"></i></a>
            <a href="instagram_link"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="main-picture">
        <p id="welcome">Welcome to Meditation Ascension</p>
        <p id="a-place">A place to learn about mindfulness and meditation</p>
    </div>
    <style>
        #main-picture {
            background: linear-gradient(white, transparent, transparent, transparent), url({% static 'meditationascensionapp/photos/bench.jpeg'%}) no-repeat center;
            background-size: cover;
            width: 100%;
            height: 800px;
        }
    </style>

{% endblock %}